<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <nav class="navbar bg-dark" text="align-center">
        <img src="{%static 'logo3.png'%}" height="70" width="70" align="center" style="background-color:blue"/>

        <div style="color:Blue">
            <table><tr>
                <th><td><h3>HOME</h3></td></th>
                <th><td><h3>ABOUT</h3></td></th>
                <th><td><h3>CONTACT</h3></td></th>
            </tr></table>
        </div>
    <div style="text-align:center;color:Blue" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <i><a href="#" class="navbar-brand" style="font-family:Brush Script MT;color:RED;"><h1>Spicy Food</h1></a></i>
    </div>
    <div align="center">
        <table>
            <tr>
                <th><td><a class="nav-item nav-link" href="#">Login</a></td></th>
                <th><td><a class="nav-item nav-link" href="US">Register</a></td></th>
            </tr>
        </table>
    </div>
</nav>

</head>
<body style="background-image:url('{%static 'BG1.jpg'%}')">

<div id="bottom">
    <marquee direction="up" scrolldelay="180"><b><i><p style="color:gold">India has a rich culinary heritage.<br>
    Indian cuisine has a 5000-year-old history.<br>
    Mythological beliefs and traditions have played,<br>
    an important role in its evolution and development.<br>
    The main Indian food was based on Hinduism but the<br>
    Islamic influence during the Mughal era,<br>
    the Persian exchanges with the Middle East and the<br>
    British colonial system have all contributed immensely<br>
    towards laying the foundation of the Indian cuisine.<br>
    The staple Indian foods are Rice, Wheat and Lentils.<br>
        And no Indian dish is complete without spices.<br>
        Indian food is a combination of all six tastes like<br>
        sweet, sour, salty, bitter, spicy and astringent.<br>
        In India different dishes are prepared for different festivals.<br>
        Every festival tends to be complete only when special<br>
        food associated with that festival is cooked on that day.<br>
        Like Holi can not be complete without Gujhiya and Eid without Sewai.<br>
        India is the only country in the world where there is<br>
        Unity in Diversity not only its culture & religion but also its cuisine.</p></i></b></marquee>
</div>

<!--<marquee><h2 style="color:gold">All verity items available</h2></marquee>-->



</body>



<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <section class="">
  <!-- Footer -->
  <footer class="text-center fixed-bottom text-white" style="background-color: bg-dark;">

    <div class="text-center p-3" style="background-color: gray;">
      © 2023 Copyright:
      <a class="text-white" href="http://127.0.0.1:1000/Home/#!/">Food App.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

</div>
<!-- End of .container -->
</html>